{% load i18n %}

{% autoescape off %}

<p style="margin: 10px">
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at <strong>{{ site_name }}</strong>.{% endblocktrans %}
</p>

<p style="margin: 10px">
{% trans "Please click on the following link and enter a new password:" %}
<br />
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb36=uid token=token %}
{% endblock reset_link %}
</p>

<p style="margin: 10px">
{% trans "Your username, in case you've forgotten:" %} <strong>{{ user.get_username }}</strong>
</p>

<p style="margin: 10px">
{% trans "Thanks for using our site!" %}
</p>

<p style="margin: 30px 10px">
{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
</p>

{% endautoescape %}