{% extends "base.html" %}

{% load i18n %}

{% block head_title %}
	{% trans "Password Reset Form" %}
{% endblock %}

{% load staticfiles %}

{% block head_extras %}
	<link type="text/css" rel="stylesheet/less" href="{% static 'accounts/less/style.less' %}" />
{% endblock head_extras %}

{% block content %}
<div class="container">

  <div id="widget-box">
  	<p class="well well-small">{% trans "Forgot your password? Enter your email address below." %}</p>

    <form method="post" action="{% url 'accounts:password_reset' %}">
	  {% csrf_token %}

      <div class="row-fluid">
        <div class="span9">
			{{ form.email }}
			{{ form.email.errors }}
        </div>
        <div class="span3">
			<button type="submit" class="btn btn-block btn-primary">{% trans 'Go' %}</button>
        </div>
      </div>
    </form>
  </div>

</div> <!-- /container -->
{% endblock content %}
